<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace:项目mapper地址-->
<mapper namespace="com.cgr.demo.mapper.AdminMapper">
    <select id="selectadmin" resultType="admin">
        SELECT * from admin where admin_name=#{adminname} and admin_password=#{adminpassword}
    </select>

</mapper>
