<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace:项目mapper地址-->
<mapper namespace="com.cgr.demo.mapper.MynewMapper">
    <resultMap id="BaseResultMap" type="com.cgr.demo.bean.Mynew">
        <id column="mynew_id" property="mynewid"></id>
        <result column="user_id" property="userid"></result>
        <result column="baby_id" property="babyid"></result>
        <result column="mynew_date" property="mynewdate"></result>
        <result column="mynew_content" property="mynewcontent"></result>
        <result column="mynew_support" property="mynewsupport"></result>
        <result column="mynew_collect" property="mynewcollect"></result>
        <result column="mynew_open" property="mynewopen"></result>
        <collection property="mynewp"  ofType="com.cgr.demo.bean.Mynew_p" column="mynewpid">
            <id column="mynew_p_id" property="mynewpid"></id>
<!--            <result column="mynew_p_id" property="mynewpid"></result>-->
            <result column="mynew_p_img" property="mynewpimg"></result>
        </collection>
        <collection property="users"  ofType="com.cgr.demo.bean.User" column="userid">
            <id column="user_id" property="userid"></id>
            <result column="user_name" property="username"></result>
            <result column="user_img" property="userimg"></result>
        </collection>
    </resultMap>


    <select id="queryMynew" resultMap="BaseResultMap" parameterType="Mynew">
        SELECT * FROM  mynew  LEFT JOIN mynew_p ON mynew.mynew_id = mynew_p.mynew_id
        where mynew.baby_id=#{babyid}
    </select>

    <select id="getAll" resultMap="BaseResultMap" parameterType="Mynew">
        select * from mynew a LEFT JOIN mynew_p b on a.mynew_id = b.mynew_id left JOIN user c on a.user_id=c.user_id where a.mynew_open=1 ORDER BY a.mynew_id DESC
    </select>
    <select id="adminGetAll" resultMap="BaseResultMap" parameterType="Mynew">
        select * from mynew a LEFT JOIN mynew_p b on a.mynew_id = b.mynew_id left JOIN user c on a.user_id=c.user_id ORDER BY a.mynew_id DESC
    </select>
    <select id="selectUserInformationData" resultMap="BaseResultMap" parameterType="Mynew">
        select * from mynew a
        LEFT JOIN mynew_p b on a.mynew_id = b.mynew_id
        left JOIN user c on a.user_id=c.user_id
        where a.mynew_open=1 and a.user_id = #{userid}
        ORDER BY a.mynew_id DESC
    </select>
    <select id="selectMynew" resultType="mynew" >
        SELECT * FROM mynew where baby_id = #{babyid} order by mynew_id desc
    </select>
    <select id="selectByMynewId" resultMap="BaseResultMap" parameterType="Mynew" >
        SELECT * FROM  mynew  LEFT JOIN mynew_p ON mynew.mynew_id = mynew_p.mynew_id LEFT JOIN user ON mynew.user_id=user.user_id
        where mynew.mynew_id = #{mynewid}
    </select>
    <select id="selectByUserId" resultMap="BaseResultMap" parameterType="Mynew" >
        SELECT * FROM  mynew  LEFT JOIN mynew_p ON mynew.mynew_id = mynew_p.mynew_id
        where mynew.user_id = #{userid}
    </select>
    <select id="selectByBabyId" resultMap="BaseResultMap" parameterType="Mynew" >
        SELECT * FROM  mynew  LEFT JOIN mynew_p ON mynew.mynew_id = mynew_p.mynew_id
        where mynew.baby_id = #{babyid}
    </select>
    <insert id="insertMynew">
        insert into mynew (user_id,baby_id,mynew_date,mynew_content,mynew_support,mynew_collect,mynew_open) value
        (#{userid},#{babyid},#{mynewdate},#{mynewcontent},0,0,#{mynewopen});
    </insert>
    <update id="updateMynew">
        update mynew set mynew_content=#{mynewcontent},mynew_date = #{mynewdate}
        where mynew_id=#{mynewid}
    </update>
    <update id="updateMynewifopen">
        update mynew set mynew_open = #{mynewopen}
        where mynew_id=#{mynewid}
    </update>
    <delete id="deleteMynew">
        delete from mynew where mynew_id=#{mynewid}
    </delete>

</mapper>
